<%= erb :header %>
<div class="column1">
  <div class="colhead1">gimme a</div>
  <div class="col1a">
  <p class="col1"><%= @what[0][:item] %></p>
  <p class="col1"><span class="yellow"><%= @what[1][:subitem] %></span></p>
  <br />
  <p class="col1"><%= @what[1][:item] %></p>
  <p class="col1"><span class="yellow"><%= @what[2][:subitem] %></span></p>
  <br />
  <p class="col1"><%= @what[2][:item] %></p>
  <p class="col1"><span class="yellow"><%= @what[3][:subitem] %></span></p>
  <br />
  <p class="col1"><%= @what[3][:item] %></p>
  <p class="col1"><span class="yellow"><%= @what[4][:subitem] %></span></p>
  </div>
  <div class="col1b">
  <p class="col1"><%= @what[0][:price] %></p>
  <p class="col1"><%= @what[0][:subprice] %></p>
  <br />
  <p class="col1"><%= @what[1][:price] %></p>
  <p class="col1"><%= @what[1][:subprice] %></p>
  <br />
  <p class="col1"><%= @what[2][:price] %></p>
  <p class="col1"><%= @what[2][:subprice] %></p>
  <br />
  <p class="col1"><%= @what[3][:price] %></p>
  <p class="col1"><%= @what[3][:subprice] %></p>
  </div>
  <div style="clear:both"></div>
  <br />
  <p class="col1"><%= @what[4][:textbox] %></p>
</div>
<div class="column2">
  <div class="colhead2">with some</div>
  <p class="col2"><%= @what[5][:textbox] %></p>
</div>
<div class="column3">
  <div class="colhead3">how 'bout yer</div>
  <p class="col3">
    <%= @what[6][:item] %><br/ >
    <%= @what[6][:price] %><br />
    <span class="yellow"><%= @what[6][:textbox] %></span></p>
  <p class="col3">
    <%= @what[7][:item] %><br/ >
    <%= @what[7][:price] %><br />
    <span class="yellow"><%= @what[7][:textbox] %></span></p>
  <p class="col3">
    <%= @what[8][:item] %><br/ >
    <%= @what[8][:price] %><br />
    <span class="yellow"><%= @what[8][:textbox] %></span></p>
  <p class="col3">
    <%= @what[9][:item] %><br/ >
    <%= @what[9][:price] %><br />
    <span class="yellow"><%= @what[9][:textbox] %></span></p>
  <p class="col3">
    <%= @what[10][:item] %><br/ >
    <%= @what[10][:price] %><br />
    <span class="yellow"><%= @what[10][:textbox] %></span></p>

</div>

<div class="menulink"><a href="/files/tfm_menu.pdf">PDF  THESE  BONES  FOR  MY  DOG  OF  A PRINTER...</a></div>
