<%= erb :header %>
<h1><%= @when[:header] %></h1>

<div>
  <ul>
    <% @hours.each do |day| %>
      <li>
        <%= day[:day].capitalize %>: <%= day[:open] %> - <%= day[:close] %>
        <!-- <span class="red">*</span> -->
      </li>
    <% end %>
  </ul>
</div>
    <p><span class="red">*</span> <span class="tiny">or as late as it takes the crowd to thin...</span></p>
